#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
users:
  - name: ubuntu
    ssh_authorized_keys:
      - ssh_authorized_key_of_your_ansible_control_server # change this key
      
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel

  - name: root
    ssh_authorized_keys:
      - ssh_authorized_key_of_your_ansible_control_server # change this key
      
diable_root: False
ssh_pwauth: True
chpasswd:
  list: |
    root:linux # change this password
    ubuntu:linux # dhange this password
  expire: False

packages:
  - qemu-guest-agent

runcmd:
  - sudo systemctl disable ufw
  - sudo systemctl stop ufw
  - sudo systemctl
  - sudo echo "net.ipv4.ip_forward=1" >> /etc/sysctl.conf
  - sudo sysctl -p
  - sudo swapoff -a
